body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8fcfa;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #32cd75;
  color: #fff; /* Textfarbe auf Weiß ändern */
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 100px;
  height: 50px;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  color: #000;
}

header h2 {
  color: #000; /* Setzt die Farbe von h2 auf Schwarz */
}

nav {
  background-color: #8eecb6;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #000; /* Textfarbe auf Weiß ändern */
  text-decoration: none;
}

main {
  padding: 20px;
  flex: 1;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #000; /* Setzt die Farbe von h2 auf Schwarz */
  background-color: #8eecb6;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin-bottom: 10px;
}

.recipe-container {
  display: flex;
  align-items: flex-start; /* Bild und Text oben ausrichten */
  background-color: #4eef93;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Begrenzte Breite für bessere Darstellung */
  color: #000;
}

.recipe-img {
  width: 300px;
  height: auto;
  margin-right: 15px; /* Abstand zwischen Bild und Text */
  border-radius: 10px;
}

.recipe-text {
  flex: 1;
  color: #000; /* Textfarbe auf Weiß ändern */
}

footer {
  background-color: #333;
  color: #fff; /* Textfarbe bleibt bereits Weiß */
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

footer p {
  font-size: 14px;
  margin: 10px 0;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin: 0 10px;
}

footer nav ul li a {
  color: #fff; /* Textfarbe auf Weiß ändern */
  text-decoration: none;
}

footer .social-media a {
  color: #fff; /* Textfarbe auf Weiß ändern */
  margin: 0 10px;
  text-decoration: none;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("startbild.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.logo {
  width: 80px;
  height: auto;
  border-radius: 50%;
}
